.flr-classes-scale {
    display: flex;
}

.flr-classes-scale-container {
    margin-left: 14px;
    margin-right: auto;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 32px 32px;
    height: 64px;
    width: 80%;
}


.flr-class, .flr-class-scale-item {
    color: white;
    text-align: center;
    justify-content: center;
    font-size: 24px;
    opacity: 0.4;
    font-weight: 800;
}

.flr-class {
   opacity: 1;
}

.strength-icon {
    margin: auto 0 9px auto;
    width: 30px;
    height: 30px;
}

.flr-class-label-container {
    width: 90%;
    margin: 10px auto;
    position: relative;
}

.flr-scale-label {
    position: absolute;
    margin: auto;
    width: 32px;
    height: 32px;
}
.flr-class-text {
    bottom: 0;
    top: 0;
    
    
    position: absolute;
    margin: auto;
    margin-left: -50%;
}


.flr-classes-scale-circles {
    
    width: 90%;
    height: 10px;
    
    background: rgb(42,216,20);
    background: linear-gradient(90deg, rgba(42,216,20,1) 10%, rgba(227,217,8,1) 30%, rgba(255,83,3,1) 48%, rgba(255,35,35,1) 65%, rgba(234,14,185,1) 100%);
    border-radius: 80px;
    margin: auto;
    position: relative;
    
}


.flr-circle-center{
    
    height: 10px;
    position: absolute;
    width: 20px;
    
    margin: auto;

}

.flr-class-circle {
    
    width: 20px;
    height: 20px;
    border-radius: 50%;
    bottom: 0;
    top: 0;
    border: 4px solid;
    
    position: absolute;
    margin: auto;
    margin-left: -50%;
    background: white;
}


/* circles unique colors */

.index-0 {
    border-color: rgba(42,216,20,1);
}

.index-1 {
    border-color: rgba(227,217,8,1)
}
.index-2 {
    border-color: rgba(255,83,3,1);
}

.index-3 {
    border-color: rgba(255,35,35,1);
}

.index-4 {
    border-color: rgba(234,14,185,1);
}

.thick-circle {
    width: 28px;
    height: 28px;
    border-width: 8px;
    
}
