.NotifBar {
    margin-top: 50px;
    display: grid;
    
    justify-content: center;
    margin-bottom: 50px;
    color: rgb(216, 153, 216);
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-rows: 100% 100% 100%;
}

.Notification {
    margin: 20px;
    
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 100%;
    
    border: 0px solid transparent;
}
.Notification:hover {
    color: rgb(250, 215, 250);
    cursor: pointer;
    border: 0;
}


.notif-time {
    margin-right: 1rem;
    width: 60%;
    font-family: "Roboto", "Open Sans", sans-serif;
    font-weight: 300;
    line-height: 1.5;
}

.notif-title {
    font-size: 20px;
    /* color: rgb(250, 215, 250); */
    margin-bottom: 5px;
    
}



@media only screen and (max-width: 1400px) {
    .NotifBar {
        grid-template-columns: 100%;
        grid-template-rows: 33.33% 33.33% 33.33%;
        
    }
    .Notification {
        width: 90%;
        
        
    }
    
    .notif-time {
        margin-right: 5%;
    }
  }